@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #090909;
    font-family: "Inter", sans-serif;
    color: #e0e3ff;
    margin: 0;
    min-height: 110vh;
    scroll-behavior: smooth;
}

.social {
    display: flex;
    width: 185px;
    height: 225px;
    background-color: #121212;
    border-radius: 8px;
    outline: #191919 2.5px solid;
}

.namemc {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/biography.png);
    background-size: cover;
    background-position: center;
    width: 185px;
    height: 225px;
    outline: #191919 2.5px solid;
    backdrop-filter: blur(50px);
}

.namemc button {
    font-family: inherit;
    border: none;
    width: auto;
    border-radius: 25px;
    height: 35px;
    padding: 10px 15px;
    background-color: rgb(9, 9, 9, 0.6);
    color: #e0e3ff;
    backdrop-filter: blur(5px);
    transition: background-color 0.5s ease;
}

.namemc button:hover {
    background-color: rgb(9, 9, 9);
    cursor: pointer;
}

.namemc::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px);
    z-index: -5;
    border-radius: 8px;
    outline: #191919 2.5px solid;
}


.instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    transition: transform 0.3s ease;
}

.instagram:hover {
    transform: rotate3d(1, 1, 0, 15deg);
    cursor: pointer;
}

.github {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    transition: transform 0.3s ease;
}

.github:hover {
    transform: rotate3d(1, 1, 0, 15deg);
    cursor: pointer;
}

header {
    margin-top: 15%;
    text-align: center;
    padding: 50px 20px;
    transition: transform 1s ease;
}

.subheader {
    margin-top: -5px;
    transition: transform 0.6s ease;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.5s ease;
}